
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%;
    --foreground: 235 65% 10%;
    --card: 0 0% 100%;
    --card-foreground: 235 65% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 235 65% 10%;
    --primary: 235 65% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 100% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 90%;
    --muted-foreground: 235 15% 40%;
    --accent: 180 100% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 235 65% 30%;
    --radius: 0.75rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 235 65% 10%;
    --sidebar-primary: 235 65% 30%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 235 65% 30%;
    --sidebar-border: 0 0% 90%;
    --sidebar-ring: 235 65% 30%;
  }
  .dark {
    --background: 235 65% 5%;
    --foreground: 0 0% 98%;
    --card: 235 65% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 235 65% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 235 65% 30%;
    --secondary: 180 100% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 235 25% 15%;
    --muted-foreground: 235 15% 65%;
    --accent: 180 100% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 25% 15%;
    --input: 235 25% 15%;
    --ring: 0 0% 83.1%;
    --sidebar-background: 235 65% 8%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 235 65% 30%;
    --sidebar-accent: 235 25% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 235 25% 15%;
    --sidebar-ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
